body{
  text-align: center;
  background-color: rgb(73, 75, 195) !important;
}
<span{<span=style="fontfamily:georgia,serif:">blue</span>;
}
.wrapper{
  display: inline-block;
}
.operation{
  display: inline-block;
}
.lastNo{
  display: inline-block;
}
hr{
  width: 500px;
}